GNUmakefile
GNUmakefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.h
config.h.in
configure
depcomp
.deps/
install-sh
missing
stamp-h1
*~
*.o
*.h
!src/ncdc.h
!src/doc.h
src/ncdc
doc/gendoc
doc/*.1
util/ncdc-db-upgrade
INSTALL
