Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.h
config.h.in
configure
depcomp
.deps/
install-sh
missing
stamp-h1
*.o
main.h
commands.h
filelist.h
util.h
ui.h
ui_util.h
nmdc.h
ncdc
INSTALL
